<div class="authnav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <form action="/logout" method="post">
                <button class="btn btn-primary" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>

<h1>Apply for {{job.position}} Job</h1>

{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}

<form method="post" action="/jobs/apply" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="fullname" class="form-label">Fullname:</label>
        <input type="text" id="fullname" name="fullname" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" required>
    </div>


    <input type="hidden" id="position" name="position" class="form-control" value="{{job.position}}" required>


    <label for="cv" class="form-label">Resume:</label>
    <input type="file" id="cv" class="form-control" name="file" accept="application/pdf">

    <hr />
    <div style="display: flex; justify-content:space-between;">
        <a class="btn btn-primary" href="/jobs">Back</a>
        <div>
            <button type="reset" class="btn btn-danger">Reset</button>
            <button type="submit" class="btn btn-success">Apply</button>
        </div>
    </div>
</form>