<!--Hero-->


{{#if token}}
<div class="authnav">
    <form action="/my-jobs" method="get">
        <button class="btn btn-primary btnj" type="submit">My Jobs</button>
    </form>
    <form action="/logout" method="post">
        <button class="btn btn-primary btnj" type="submit">Log Out</button>
    </form>

</div>


{{/if}}

<main id="hero">
    <div id="overlay">
        <div class="container">
            <div class="hero-text">
                <h1> Join Today</h1>
                <p>Join thousand of students just like you and find a job at Southwest Miami Senior High</p>
                <a href="/register" class="btn btn-success">Register Now</a>
            </div>
        </div>

    </div>
</main>

<!--STATS-->

<div class="row">
    <div class="col-sm-12 col-md-3 stat">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2500</h5>
                <h6 class="card-subtitle mb-2 ">Students</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 stat">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">50+</h5>
                <h6 class="card-subtitle mb-2 ">Jobs</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 stat">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">102.00</h5>
                <h6 class="card-subtitle mb-2 ">Teaching Staff</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 stat">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">10+</h5>
                <h6 class="card-subtitle mb-2 ">Programs</h6>
            </div>
        </div>
    </div>
</div>

<a></a>